@import url('https://thomasf.github.io/solarized-css/solarized-dark.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');

/* reset */
html, body, div {
    margin: 0;
    padding: 0;
}
/* redefine some solarized css body definitions */
body {
  max-width: 100%;
  border: 0pt;
}

/* Apply the font to all elements */
h1, h2, h3, * {
    font-family: 'Fira Code', monospace; /* Apply monospaced font to everything */
}

a {
    text-decoration: none;
}

.title {
    font-weight: bold;
}

.description {
    font-style: italic;
}


/* sizing */
h1 {
    font-size: 80px;
}
body {
    line-height: 1.6;
    font-size: 20px;
}

h1, h2, h3 {
    margin-top: 30px;
    line-height: 1.2;
}

.description {
    line-height: 1.4;
    font-size: 89%;
}

.bio {
    line-height: 1.25;
    font-size: 75%;

}

/* columns */
.wrapper {
    margin: auto;
    min-width: 1000px;
    max-width: 1000px;
    padding: 0 30px;
}

@media screen and (min-width: 750px) {
    .sidebar { float: right; width: 250px; }
    .main { margin-right: 270px; }
}

.avatar {
    width: 300px;
}

html, body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto; /* 1fr for main content, auto for footer */
}

footer {
    background-color: var(--c-bg-secondary);
    border-block-start: 1px solid var(--c-border);
    padding: .5rem var(--content-inline-padding);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
